* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4d636f;
    padding: 13px 20px;
}

.logo {
    color: white;
    font-size: 19px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
